body, html{
    background-color: #222;
    color: lightgrey;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

button{
    background-color: transparent;
    height: 60px;
    margin: 40px;
    border: none;
}

#playerScore{
    float:left;
}
#score-div{
    margin: auto;
    width: 15%;
}
#computerScore{
    float:right;
}
span{
    font-size: 30px; 
}
.number{
    font-size: 70px;
}
#player{
    float: left;
}
#computer{
    float: right;
}
#button-div{
    display: inline-block;
    text-align: center;
    width: 33%;
    margin: auto;
    vertical-align: center;
}

#rock-img{
    width: 80px;
    height: 80px;
}
#paper-img{
    width: 80px;
    height: 90px;
}
#scissors-img{
    width: 100px;
    height: 80px;
}
button:hover{
    clear: both;
    transform: scale(2)
}
h1{
    font-size: 100px;
}

#score-div{
    text-align: center;
}
