body, html{
    background-color: #222;
    color: grey;
    text-align: center;
}
button{
    background-color: black;
    color: grey;
    border: none;
    border-radius: 5px;
    height: 70px;
    width: 25%;
    font-size: 24px;
}
#score-div{
    text-align: center;
}